<div class="session-description" nz-row>
  <nz-comment nz-col nzSpan="14" [nzAuthor]="title">
    <nz-avatar nz-comment-avatar
      [ngStyle]="{ 'background-color': '#D5EDEB' }"
      [nzText]="name"
      nzSize="large"
      style="vertical-align: middle; color: #00A2AE;">
    </nz-avatar>
    <nz-comment-content>
      <p>
        分類
        <nz-divider nzType="vertical"></nz-divider>
        <nz-tag *ngFor="let tag of categories" [nzColor]="tag.color">
          {{ tag.title }}
        </nz-tag>
        <br>
        {{ introduction }}
      </p>
    </nz-comment-content>
  </nz-comment>

  <div nz-col nzSpan="10" class="rate">
    <div class="inner">
      學習難度
      <nz-divider nzType="vertical"></nz-divider>
      <nz-rate [ngModel]="difficulty" nzAllowHalf></nz-rate>
    </div>
    <div class="inner">
      實用程度
      <nz-divider nzType="vertical"></nz-divider>
      <nz-rate [ngModel]="usefulness" nzAllowHalf></nz-rate>
    </div>
  </div>
</div>
