<nz-collapse [nzBordered]="false" nzAccordion>
  <nz-collapse-panel nzHeader="hello-world.component.html" nzActive="true">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="code[0]"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="hello-world.component.ts" nzActive="false">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="code[1]"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="hello-world.component.css" nzActive="false">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="''"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
</nz-collapse>
