<nz-layout class="app-layout">
  <!-- 側邊欄位 -->
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzTheme="light"
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img *ngIf="!isCollapsed"
          src="./../assets/images/wistron-logo.png"
          alt="logo">
        <img *ngIf="isCollapsed"
          src="./../assets/icons/wistron-logo.png"
          alt="logo">
      </a>
    </div>
    <ul class="side-menu"
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Angular" nzIcon="experiment">
        <ul>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li> -->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session1">Session 1 Component</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session2">Session 2 Data Binding</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session3">Session 3 Structure Directive</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session4">Session 4 Component I/O</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session5">Session 5 Form</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/angular/session6">Session 6 Route</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="content-layout">
    <!-- 主頁標頭 -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          </i>
        </span>

        <ul class="right-section">
          <li>
            <nz-avatar [ngStyle]="{ 'background-color': '#00A2AE' }"
              nzText="Wistron"
              nzSize="large"
              style="vertical-align: middle;">
            </nz-avatar>
          </li>
          <li (click)="openDrawer()">
            <i nz-icon nzType="appstore" nzTheme="outline"></i>
          </li>
        </ul>

        <nz-drawer nzPlacement="right"
          [nzClosable]="false"
          [nzVisible]="drawerShowed"
          nzTitle="Theme Config"
          (nzOnClose)="closeDrawer()">
        </nz-drawer>
      </div>
    </nz-header>

    <!-- 主頁路由 -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
