<nz-collapse [nzBordered]="false" nzAccordion>
  <nz-collapse-panel nzHeader="app.component.html" nzActive="false">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="code[0]"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="app.component.ts" nzActive="true">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="code[1]"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="app.module.ts" nzActive="true">
    <nz-spin [nzSpinning]="loading">
      <pre>
        <code *ngIf="code" [highlight]="code[2]"></code>
      </pre>
    </nz-spin>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Result" nzActive="false">
    <input nz-input nzSize="default" style="margin-bottom: 24px;" [(ngModel)]="name" />
    Name
    <nz-divider nzType="vertical"></nz-divider>
    <nz-tag nzColor="#00A2AE">{{ name }}</nz-tag>
  </nz-collapse-panel>
</nz-collapse>
